h1 {
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-size: 50px;
  text-align: center;
  color: #56647e;
  margin-top: 3%;
}

p {
  font-family: "Poppins", sans-serif;
  color: #56647e;
  text-align: center;
}

.topbartitle {
  font-family: "Audiowide", sans-serif;
  font-size: 30px;
}

.topbar-btn {
  font-family: "Poppins", sans-serif;
  font-size: 13px;
}

a {
  color: #56647e;
  display: flex;
  align-items: center;
  margin-left: 1%;
}

a:hover {
  text-decoration: underline;
  color: #f36f56;
}

.container {
  display: flex;
  justify-content: center;
}

.button {
  background-color: #6572e1;
  padding: 10px;
  max-width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
.btn-primary {
  padding: 25px 50px;
  border-radius: 5px;
  display: flex;
  justify-content: space-evenly;
  font-size: 13px;
  gap: 10px;
  background-color: #6572e1;
  color: white;
  font-weight: 600;
  max-height: 40px;

  transition: 0.3 linear ease-in-out;
}

.btn-primary-b {
  padding: 25px 50px;
  border-radius: 5px;
  display: flex;
  justify-content: space-evenly;
  font-size: 13px;
  gap: 10px;
  background-color: #fafafb;
  color: #56647e;
  font-weight: 600;
  max-height: 40px;

  transition: 0.3 linear ease-in-out;
}

.btn-primary:hover {
  background-color: #6d7bf4;
}

.btn-secondary {
  padding: 13px 40px;
  border-radius: 5px;
  display: flex;
  justify-content: space-evenly;
  font-size: 13px;
  gap: 5px;
  background-color: #6572e1;
  color: white;
  font-weight: 600;
  max-height: 40px;

  transition: 0.3 linear ease-in-out;
}
.btn-secondary:hover {
  background-color: #6d7bf4;
}

.btn-icon {
  padding: 10px 10px;
  border-radius: 5px;
  display: flex;
}
.btn-icon > img {
  width: 20px;
}

.btn-google {
  width: 182px;
  height: 39px;
  border-radius: 15px;

  margin-top: 10px;
  justify-content: space-evenly;
  padding: 10px 0;
  font-size: 14px;
  font-family: "poppins", sans-serif;
}

.loginbtn {
  /* margin-left: 40%; */
}

.loginbtn .btn-primary {
  width: 448px;
  height: 53px;
}

.password {
  padding-top: 10px;
  padding-bottom: 10px;
}
.boxSection {
  border: 1px solid red;
  width: 90%;
  margin: auto;
  padding: 20px;
  /* height: 500px; */
  display: flex;
  align-items: start;
  /* flex-direction: column; */
  justify-content: space-between;
  /* flex-wrap: wrap; */
  overflow: auto;
  /* align-items: center; */
}
.box1 {
  padding: 10px 20px;
  margin-right: 10px;
  height: 100px;
  width: 100px;
  border-radius: 5px;
  background-color: blueviolet;
  color: white;
}
.box2 {
  height: 100px;
  width: 100px;
  padding: 10px 20px;
  margin-right: 10px;
  border-radius: 5px;
  background-color: rgb(37, 174, 110);
  color: white;
}

.fc-toolbar-title {
  color: #56647e;
  font-weight: 600;
}

.fc .fc-button-primary {
  background-color: transparent !important;
  border: none !important;
  outline: none !important;
}

.fc-icon.fc-icon-chevron-left {
  color: #b3b9c5 !important;
}

.fc-icon.fc-icon-chevron-right {
  color: #56647e !important;
}

.fc-theme-standard td,
.fc-theme-standard th {
  border: none !important;
}
.fc-col-header-cell-cushion {
  color: rgba(86, 100, 126, 0.45) !important;
  font-weight: 700 !important;
}
.fc-theme-standard .fc-scrollgrid {
  border: none !important;
}
.fc-theme-standard td,
.fc-theme-standard th {
  padding-block: 5px !important;
}
.fc .fc-daygrid-day-frame {
  background-color: rgba(101, 114, 225, 0.04) !important;
  border-radius: 10px !important;
  display: flex !important;
  justify-content: center;
  align-items: center;
  height: 79px !important;
  width: 90% !important;
  cursor: pointer !important;
}
.fc-daygrid-day-top a {
  color: #56647e !important;
  font-size: 13px !important;
}
.fc .fc-daygrid-day.fc-day-today {
  background-color: transparent !important;
  border-radius: 10px !important;
}
.fc .fc-daygrid-day.fc-day-today > div {
  background-color: #6d7bf4 !important;
  border-radius: 10px !important;
}
.fc .fc-daygrid-day.fc-day-today a {
  color: white !important;
}
.fc .fc-daygrid-body {
  width: 100% !important;
}
.fc .fc-scroller-liquid-absolute {
  inset: unset !important;
}
.fc-daygrid-event-dot {
  border-color: red !important;
}
.fc-event-time {
  display: none !important;
}
.fc-daygrid-day-top {
  position: absolute !important;

  left: 50% !important;
  transform: translate(-50%);
  border-color: red !important;
}
.fc-daygrid-day-events {
  position: absolute !important;
  bottom: -5% !important;
  left: 40%;
}
.fc-direction-ltr .fc-daygrid-event.fc-event-end,
.fc-direction-rtl .fc-daygrid-event.fc-event-start {
  height: 10px !important;
  width: 10px !important;
  border-radius: 100% !important;
}

.custom-radio input[type="radio"] {
  opacity: 0;
  position: absolute;
}

.custom-radio-span {
  height: 20px;
  width: 20px;
  background-color: #fff;
  border-radius: 50%;
  border: 2px solid #6572e1;
  display: inline-block;
  position: relative;
  cursor: pointer;
}

.custom-radio input[type="radio"]:checked + .custom-radio-span::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 12px;
  height: 12px;
  background-color: #6572e1;
  border-radius: 50%;
}

.horizontal-line {
  width: 100%;
  border: none;
  border-top: 2px solid #dcdee4;
  margin: 20px 0;
}

.horizontal-line-contacts {
  width: 100%;
  border: none;
  border-top: 2px solid #dcdee4;
}

/* .custom-underline {
  position: relative;
  display: inline-block;
}

.custom-underline::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: currentColor;
  left: 0;
  bottom: -2px;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

.custom-underline:hover::after {
  transform: scaleX(1);
} */
